---
---

html, body {
	height: 100%;
	font-family: 'Neva', arial;
}

.container-with-xxl {
	@media only screen and (min-width: 1600px) {
		max-width: 1500px;
	}
}

.body-content {
	min-height: 100%;
}

.logo {
	height: 64px;
	margin: 1rem;
}

.bg-home {
	background-image: url("/assets/images/index/home_bg.png");
	background-position: center;
	background-size: cover;
}

.bg-healthcare {
	background-image: url("/assets/images/unigen-healthcare/bg.png");
	background-position: center;
	background-size: cover;
}

.home-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
  	font-size: 2.5rem;
  }
}

.with-menu-fixed {
	padding-top: 95px !important;
  @media screen and (min-width: 768px) {
  	padding-top: 0 !important;
  }
}

.main-box-shadow {
	box-shadow: 0px 3px 6px #00000029;
}

.main-box {
	padding: 1rem;
  @media screen and (min-width: 768px) {
		padding: 5rem 6rem;
  }
	.main-box__img {
		padding-right: 0;
		padding-bottom: 2rem;
		width: 100%;
	  @media screen and (min-width: 768px) {
			padding-right: 6rem;
			padding-bottom: 0;
	  }
	}
}

.careers-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 180px;
	@media screen and (min-width: 768px) {
		min-height: 600px;
	}
}