---
---

.text-primary {
	color: #4F99DA !important;
}

body.bg-healthcare:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/assets/images/healthcare/Healthcare background@2x.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
	padding: 0.6rem 1rem !important;
	font-size: 18px !important;
	font-weight: bold;
	border-radius: 30px !important;
	min-width: 200px;
	border-width: 2px;
}
.btn-primary {
	background: #4F99DA !important;
	border-color: #4F99DA !important;
	&:hover {
		background: #2b5f8c !important;
		border-color: #2b5f8c !important;
	}
}


.btn-outline-primary {
	background: white !important;
	border-color: #4F99DA !important;
	color: #4F99DA;
	&:hover {
		background: #4F99DA !important;
		border-color: #4F99DA !important;
	}
}

.main-box {
	padding: 1rem;
  @media screen and (min-width: 768px) {
		padding: 5rem 6rem;
  }
	.main-box__img {
		padding-right: 0;
		padding-bottom: 2rem;
		width: 100%;
	  @media screen and (min-width: 768px) {
			padding-right: 6rem;
			padding-bottom: 0;
	  }
	}
}

.careers-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 180px;
	@media screen and (min-width: 768px) {
		min-height: 600px;
	}
}

.main-box__title-with-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	h1 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 0;
	}
}

.font-careers {
	font-size: 16px !important;
}

.main-box2 {
	.main-box__img {
		padding-bottom: 2rem;
		object-fit: cover;
		object-position: right;
		height: 100%;
		width: 100%;
	  @media screen and (min-width: 768px) {
			padding-bottom: 0;
	  }
	}
	.main-box__description {
		padding: 0 15px;
		@media screen and (min-width: 768px) {
			padding: 2rem;
			font-size: 14px;
			display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 100%;
		}
		@media screen and (min-width: 1200px) {
			padding: 4rem;
			font-size: 20px;
		}
	}
	.main-box__text {
		text-align: center;
		padding: 2rem 15px 1rem 15px;
		@media screen and (min-width: 768px) {
			padding: 2rem 9rem 1rem 9rem;
		}
	}
}