---
---

.text-primary {
	color: #4F99DA !important;
}

.bg-healthcare {
	background-image: url("/assets/images/unigen-healthcare/bg.png");
	background-position: center;
	position: relative;
}

.btn {
	padding: 0.6rem 1rem !important;
	font-size: 18px !important;
	font-weight: bold;
	border-radius: 30px !important;
	min-width: 200px;
	border-width: 2px;
}
.btn-primary {
	background: #4F99DA !important;
	border-color: #4F99DA !important;
	&:hover {
		background: #2b5f8c !important;
		border-color: #2b5f8c !important;
	}
}


.btn-outline-primary {
	background: white !important;
	border-color: #4F99DA !important;
	color: #4F99DA;
	&:hover {
		background: #4F99DA !important;
		border-color: #4F99DA !important;
	}
}